AI_MODEL=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_AUTH_SECRET=
FRONTEND_URL=
RESEND_API_KEY=
RESEND_FROM=
RESEND_WEBHOOK_SECRET=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
ZEPTOMAIL_API_KEY=
ZEPTOMAIL_API_URL=
ZEPTOMAIL_FROM_ADDRESS=
ZEPTOMAIL_FROM_NAME=